@model UnitViewModel

@{
    var statusmodifier = "";
    var statusicon = "";
    var statustext = "";
    switch (Model.UnitStatus)
    {
        case Shared.Status.CLOSED:
            statusmodifier = "text-success";
            statusicon = "bi-lock-fill";
            statustext = "SECURED";
            break;
        case Shared.Status.AUTO_OPENED:
            statusmodifier = "text-danger";
            statusicon = "bi-exclamation-circle-fill";
            statustext = "AUTO OPENED";
            break;
        case Shared.Status.MAN_OPENED:
            statusmodifier = "text-warning";
            statusicon = "bi-unlock-fill";
            statustext = "OPENED";
            break;
        case Shared.Status.OFFLINE:
            statusmodifier = "text-muted";
            statusicon = "bi-question-circle-fill";
            statustext = "OFFLINE";
            break;
        default:
            statusmodifier = "text-warning";
            statusicon = "bi-exclamation-circle-fill";
            statustext = "ERROR";
            break;
    }

    var tempmodifier = "";
    var tempicon = "bi-thermometer-low";
    var temptext = "-";

    var fanmodifier = "";
    var fanicon = "bi-stop-circle";
    var fantext = "-";

    if(Model.UnitStatus != Shared.Status.OFFLINE)
    {
            temptext = @Model.Temperature + "&degF";
            if (Model.Temperature > 100)
        {
            tempmodifier = "text-danger fw-bold";
            tempicon = "bi-thermometer-high";
        }
        else if (Model.Temperature > 80)
        {
            tempmodifier = "text-warning";
            tempicon = "bi-thermometer-half";
        }
        if (Model.FanStatus)
        {
            fanmodifier = "text-warning";
            fanicon = "bi-fan";
            fantext = "Running";
        }    
        else
        {
            fantext = "Idle";
        }
    }
}

<div class="row justify-content-between align-content-center">
    <div class="col d-flex align-self-center">
        <div>@Model.Name</div>
    </div>
    <div class="col d-flex align-self-center p-2 bg-gradient rounded-pill m-md-1 fw-bold text-center shadow border">
        <div class="@statusmodifier"><i class="@statusicon"></i> @statustext</div>
    </div>
    <template>
        <h1>{{ item.msg }}</h1>
    </template>
</div>

<script>

</script>